# Texas COVID Vulnerability Report
**by Yvonne King, Brandi Reger, Jada Shipp, and Wenliang Sun**

**Quick Notebook Reference**

1. Project Plan
2. Imports
3. Acquire
4. Prep
5. Exploration
6. Models
7. Model Evaluation
8. Final Conclusions

##Project Plan

**Acquisition, Prep, and Initial Exploration**
- Read in various files
- Handle Missing Values
- Remove/repair erroneous data
- Look at shape of data

**Exploration**
- Answer the following questions:
    - What social features are related to spikes in COVID

**Modeling**
- Time Series Analysis - Using our social vulnerability index we want to create a model to show weekly growth/decline of COVID per county
- We will use classification, time series, and possibly regression to predict case increases

**Main Hypotheses**

- $H_0$: Vulnerability score is not related to higher infection rate.
- $H_a$: Vulnerability score is related to higher infection rate


- $H_0$: Population density correlates to higher infection rate
- $H_a$: Population density does not correlate to higher infection rate 


- $H_0$: Counties with higher population of senior citizens have higher infection rates
- $H_a$: Counties with higher population of senior citizens do not have higher infection rates

## Imports

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas

import acquire
import prepare
import explore

## Acquire
- The ```acquire.py``` file has all the functions to call in our dataframes for the Texas subsets of the following files (which can be found in the Data folder:
    - County Classification
    - Cumulative Tests over Time by County
    - Food1
    - Hospitals
    - Jobs
    - NursinfFacilities
    - People
    - time_series_covid19_confirmed_US
    - Variable Name Lookup
    - Veterans
- We went through all the files above and dropped erroneous columns
- After each file was combed through, we combined all data into one large dataframe using the```merge_dataframes()``` function in the ```acquire.py```

In [2]:
#bring in complete dataframe
df = acquire.merge_dataframes()

#take a peek at the data
df.sample(5)

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,Age65AndOlderNum2010,Under18Num2010,...,Metro_Adjacent2013,num_hospitals,population,num_covid_cases,infection_pct,FIPS,num_nursing_homes,total_tests,Public Health Region (11),Health Service Region (8)
102,1450.075897,hartley,72451.0,2.734839,121.0,429.0,1462.03,5619.0,757,1369,...,0.0,1.0,6067,13,0.214274,48205,1.0,82,1,1
94,7568.001971,hale,42782.0,6.684323,2364.0,5715.0,1004.68,33830.0,4435,10434,...,1.0,2.0,33202,139,0.418649,48189,2.0,362,1,1
106,21411.173797,henderson,43337.0,6.517939,5218.0,15718.0,873.75,82299.0,15032,17842,...,1.0,1.0,81179,97,0.119489,48213,6.0,1581,4,4/5N
171,216.277303,morris,41418.0,5.395038,864.0,2462.0,251.98,12339.0,2506,3013,...,1.0,NaN,12448,34,0.273136,48343,1.0,194,4,4/5N
166,1218.088622,mills,47068.0,5.757832,229.0,693.0,748.26,4921.0,1158,1197,...,0.0,NaN,4870,1,0.020534,48333,2.0,92,7,7

In [3]:
#look at the shape of the data
df.shape

(254, 73)

In [4]:
#look at data types and counts
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 0 to 253
Data columns (total 73 columns):
LACCESS_POP15                         253 non-null float64
County                                254 non-null object
MedHHInc                              254 non-null float64
Deep_Pov_All                          254 non-null float64
PovertyUnder18Num                     254 non-null float64
PovertyAllAgesNum                     254 non-null float64
LandAreaSQMiles2010                   254 non-null float64
TotalPopEst2018                       254 non-null float64
Age65AndOlderNum2010                  254 non-null int64
Under18Num2010                        254 non-null int64
NaturalChange1018                     254 non-null float64
AvgHHSize                             254 non-null float64
TotalOccHU                            254 non-null int64
OwnHomeNum                            254 non-null int64
FemaleHHNum                           254 non-null int64
TotalHH                               254 non-null int64
NonEnglishHHNum                       254 non-null int64
HH65PlusAloneNum                      254 non-null int64
Ed1LessThanHSNum                      254 non-null int64
Ed2HSDiplomaOnlyNum                   254 non-null int64
Ed3SomeCollegeNum                     254 non-null int64
Ed4AssocDegreeNum                     254 non-null int64
Ed5CollegePlusNum                     254 non-null int64
WhiteNonHispanicNum2010               254 non-null int64
BlackNonHispanicNum2010               254 non-null int64
AsianNonHispanicNum2010               254 non-null int64
NativeAmericanNonHispanicNum2010      254 non-null int64
HispanicNum2010                       254 non-null int64
MultipleRaceNum2010                   254 non-null int64
State                                 254 non-null object
MedianVetsInc                         246 non-null float64
MedianNonVetsInc                      254 non-null float64
Vets18ONum                            254 non-null float64
CLFVets18to64Num                      254 non-null float64
NonVetsDisabilty                      254 non-null float64
VetsDisabilty                         254 non-null float64
NonVetsPoor                           254 non-null float64
VetsPoor                              254 non-null float64
UnempRate2018                         254 non-null float64
NumCivLaborforce2018                  254 non-null float64
PctEmpAgriculture                     254 non-null float64
PctEmpMining                          254 non-null float64
PctEmpConstruction                    254 non-null float64
PctEmpManufacturing                   254 non-null float64
PctEmpTrade                           254 non-null float64
PctEmpTrans                           254 non-null float64
PctEmpInformation                     254 non-null float64
PctEmpFIRE                            254 non-null float64
PctEmpServices                        254 non-null float64
PctEmpGovt                            254 non-null float64
RuralUrbanContinuumCode2013           254 non-null float64
UrbanInfluenceCode2013                254 non-null float64
Metro2013                             254 non-null float64
Micropolitan2013                      254 non-null float64
Type_2015_Farming_NO                  254 non-null float64
Type_2015_Manufacturing_NO            254 non-null float64
Type_2015_Mining_NO                   254 non-null float64
Type_2015_Government_NO               254 non-null float64
Type_2015_Recreation_NO               254 non-null float64
Low_Employment_2015_update            254 non-null float64
Population_loss_2015_update           254 non-null float64
Retirement_Destination_2015_Update    254 non-null float64
HiAmenity                             254 non-null float64
Metro_Adjacent2013                    254 non-null float64
num_hospitals                         186 non-null float64
population                            254 non-null int64
num_covid_cases                       254 non-null int64
infection_pct                         254 non-null float64
FIPS                                  254 non-null int64
num_nursing_homes                     220 non-null float64
total_tests                           254 non-null int64
Public Health Region (11)             254 non-null int64
Health Service Region (8)             254 non-null object
dtypes: float64(46), int64(24), object(3)
memory usage: 146.8+ KB

# Prepare

In [5]:
df = prepare.prep_dataframe(df)
df.sample(5)

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,Age65AndOlderNum2010,Under18Num2010,...,asian_pct,nat_am_pct,hispanic_pct,multi_race_pct,med_inc_vet_vs_civ,all_vet_pct,disabled_pct,poor_vets_pct,pop_density_category,infection_pct_category
112,9341.021512,Houston,39533,9.961413,1862,5323,1230,23169,4562,4926,...,0.00,0.0,0.10,0.01,1.42,0.10,0.07,0.01,mid,high
45,23139.175920,Comal,76523,4.051168,3396,10498,559,148373,16855,25697,...,0.01,0.0,0.18,0.02,1.69,0.10,0.08,0.02,high,mid
207,4919.908366,Scurry,53059,3.824427,892,2408,905,16866,2383,4234,...,0.00,0.0,0.33,0.02,1.33,0.05,0.07,0.02,mid,mid
162,10912.827726,Medina,59304,4.570830,2077,5988,1325,50921,6210,11865,...,0.01,0.0,0.45,0.02,2.22,0.11,0.09,0.02,mid,high
27,5776.481970,Caldwell,52588,9.533015,2059,5850,545,43247,4510,10058,...,0.01,0.0,0.40,0.02,1.79,0.06,0.08,0.02,high,high

In [7]:
df = prepare.get_data()

In [8]:
df

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,Age65AndOlderNum2010,Under18Num2010,...,asian_pct,nat_am_pct,hispanic_pct,multi_race_pct,med_inc_vet_vs_civ,all_vet_pct,disabled_pct,poor_vets_pct,pop_density_category,infection_pct_category
0,23111.241421,Anderson,45969,4.287712,2486,8778,1062,58057,7338,11475,...,0.00,0.00,0.16,0.02,1.59,0.09,0.07,0.06,mid,high
1,5015.975463,Andrews,84946,3.720851,774,1922,1500,18128,1663,4312,...,0.00,0.00,0.32,0.01,1.54,0.04,0.05,0.00,mid,mid
2,20927.331551,Angelina,46653,7.613627,5855,15052,797,87092,11843,23206,...,0.01,0.00,0.19,0.02,1.35,0.09,0.12,0.08,high,high
3,8865.511478,Aransas,46912,9.002793,1423,4642,252,23792,5602,4523,...,0.02,0.00,0.21,0.02,1.51,0.11,0.09,0.08,high,low
4,2147.672378,Archer,61190,3.490241,268,922,903,8786,1447,2185,...,0.00,0.01,0.08,0.02,1.31,0.10,0.10,0.01,mid,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,3222.188853,Wood,48384,6.128292,2116,6625,645,45129,10148,8528,...,0.00,0.00,0.08,0.01,1.34,0.11,0.11,0.04,high,mid
250,1562.352965,Yoakum,61560,5.705285,454,1028,799,8591,895,2501,...,0.00,0.00,0.50,0.02,1.49,0.03,0.04,0.02,mid,mid
251,6142.001383,Young,49301,5.501855,873,2468,914,18045,3422,4459,...,0.00,0.00,0.16,0.02,1.21,0.08,0.09,0.03,mid,mid
252,6065.681176,Zapata,33160,18.348365,2297,4529,998,14190,1460,4805,...,0.00,0.00,0.91,0.01,1.96,0.05,0.13,0.00,mid,mid
253,3702.027063,Zavala,30076,15.852535,1549,3701,1297,11983,1408,3660,...,0.00,0.00,0.86,0.01,2.03,0.04,0.17,0.00,mid,mid