# What features do counties with highest infection rates have in common?

In [1]:
import pandas as pd

import acquire

In [2]:
df = acquire.merge_dataframes()
df.head()

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,...,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013,num_hospitals,population,num_covid_cases,infection_pct,FIPS,num_nursing_homes,total_tests
0,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,...,0.0,0.0,0.0,2.0,58199.0,1003.0,1.723397,48001,5.0,2679
1,5015.975463,andrews,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,...,0.0,0.0,1.0,1.0,22269.0,33.0,0.148188,48003,1.0,72
2,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,...,0.0,1.0,0.0,4.0,90437.0,352.0,0.389221,48005,8.0,3002
3,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,...,1.0,1.0,0.0,NaN,27699.0,7.0,0.025272,48007,2.0,317
4,2147.672378,archer,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,...,0.0,0.0,0.0,NaN,8344.0,3.0,0.035954,48009,1.0,79

In [3]:
df.columns.to_list()

['LACCESS_POP15',
 'County',
 'MedHHInc',
 'Deep_Pov_All',
 'PovertyUnder18Num',
 'PovertyAllAgesNum',
 'LandAreaSQMiles2010',
 'TotalPopEst2018',
 'PopDensity2010',
 'Age65AndOlderNum2010',
 'Under18Num2010',
 'NaturalChange1018',
 'AvgHHSize',
 'TotalOccHU',
 'OwnHomeNum',
 'FemaleHHNum',
 'TotalHH',
 'NonEnglishHHNum',
 'HH65PlusAloneNum',
 'Ed1LessThanHSNum',
 'Ed2HSDiplomaOnlyNum',
 'Ed3SomeCollegeNum',
 'Ed4AssocDegreeNum',
 'Ed5CollegePlusNum',
 'WhiteNonHispanicNum2010',
 'BlackNonHispanicNum2010',
 'AsianNonHispanicNum2010',
 'NativeAmericanNonHispanicNum2010',
 'HispanicNum2010',
 'MultipleRaceNum2010',
 'State',
 'MedianVetsInc',
 'MedianNonVetsInc',
 'Vets18ONum',
 'CLFVets18to64Num',
 'NonVetsDisabilty',
 'VetsDisabilty',
 'NonVetsPoor',
 'VetsPoor',
 'UnempRate2018',
 'NumUnemployed2018',
 'NumEmployed2018',
 'NumCivLaborforce2018',
 'PctEmpAgriculture',
 'PctEmpMining',
 'PctEmpConstruction',
 'PctEmpManufacturing',
 'PctEmpTrade',
 'PctEmpTrans',
 'PctEmpInformation',
 'PctEmpFIRE',
 'PctEmpServices',
 'PctEmpGovt',
 'RuralUrbanContinuumCode2013',
 'UrbanInfluenceCode2013',
 'Metro2013',
 'Micropolitan2013',
 'Type_2015_Farming_NO',
 'Type_2015_Manufacturing_NO',
 'Type_2015_Mining_NO',
 'Type_2015_Government_NO',
 'Type_2015_Recreation_NO',
 'Low_Employment_2015_update',
 'Population_loss_2015_update',
 'Retirement_Destination_2015_Update',
 'HiAmenity',
 'Metro_Adjacent2013',
 'num_hospitals',
 'population',
 'num_covid_cases',
 'infection_pct',
 'FIPS',
 'num_nursing_homes',
 'total_tests']

In [5]:
df.sort_values(by="infection_pct", ascending=False)

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,...,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013,num_hospitals,population,num_covid_cases,infection_pct,FIPS,num_nursing_homes,total_tests
170,6300.142370,moore,53785.0,4.309223,1140.0,2588.0,899.69,21485.0,24.35,2107,...,0.0,1.0,0.0,1.0,21575.0,876.0,4.060255,48341,2.0,2809
126,4324.222968,jones,43903.0,4.549411,807.0,3232.0,928.55,19817.0,21.76,2764,...,0.0,1.0,0.0,3.0,19735.0,614.0,3.111224,48253,3.0,456
235,22834.212482,walker,43681.0,15.060252,3003.0,14525.0,784.17,72480.0,86.54,6980,...,0.0,0.0,1.0,1.0,73997.0,1885.0,2.547401,48471,3.0,7466
187,25358.132507,potter,41912.0,7.656937,8973.0,22262.0,908.37,119648.0,133.29,13142,...,0.0,1.0,0.0,9.0,122706.0,2811.0,2.290842,48375,11.0,12255
224,3828.676784,titus,45604.0,5.531611,2814.0,6035.0,406.05,33033.0,79.63,3731,...,0.0,0.0,0.0,1.0,32953.0,636.0,1.930022,48449,3.0,2614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,641.000000,borden,66101.0,1.057402,19.0,65.0,897.44,648.0,0.71,133,...,0.0,1.0,1.0,NaN,685.0,0.0,0.000000,48033,NaN,1
68,638.008449,edwards,37812.0,2.006853,162.0,425.0,2117.86,1928.0,0.95,437,...,0.0,1.0,0.0,NaN,1991.0,0.0,0.000000,48137,NaN,30
130,404.209140,kenedy,42153.0,3.697479,24.0,63.0,1458.33,442.0,0.29,59,...,0.0,1.0,0.0,NaN,476.0,0.0,0.000000,48261,NaN,2
131,785.337693,kent,47625.0,1.131542,28.0,89.0,902.51,726.0,0.90,208,...,0.0,0.0,0.0,NaN,795.0,0.0,0.000000,48263,1.0,3
134,285.999999,king,57925.0,8.771930,11.0,38.0,910.87,277.0,0.31,38,...,0.0,0.0,0.0,NaN,309.0,0.0,0.000000,48269,NaN,3