In [1]:
import pandas as pd

- Start by pulling in the income csv just to check if the table will read in as expected.

In [2]:
income = pd.read_csv('../Data/Income.csv')
income

,FIPS,State,County,MedHHInc,PerCapitaInc,PovertyUnder18Pct,PovertyAllAgesPct,Deep_Pov_All,Deep_Pov_Children,PovertyUnder18Num,PovertyAllAgesNum
0,0,US,United States,61937.0,32621.0,18.0,13.1,6.249590,8.598276,12997532.0,41852315.0
1,1000,AL,Alabama,49881.0,26846.0,23.9,16.8,7.611623,11.591313,255613.0,801758.0
2,1001,AL,Autauga,59338.0,29372.0,19.3,13.8,6.142609,8.910594,2509.0,7587.0
3,1003,AL,Baldwin,57588.0,31203.0,13.9,9.8,4.482528,6.214526,6442.0,21069.0
4,1005,AL,Barbour,34382.0,18461.0,43.9,30.9,12.749387,26.709797,2242.0,6788.0
...,...,...,...,...,...,...,...,...,...,...,...
3273,72145,PR,Vega Baja,NaN,10601.0,NaN,NaN,24.952030,34.530211,NaN,NaN
3274,72147,PR,Vieques,NaN,11156.0,NaN,NaN,23.747851,63.160920,NaN,NaN
3275,72149,PR,Villalba,NaN,10677.0,NaN,NaN,24.167835,36.739088,NaN,NaN
3276,72151,PR,Yabucoa,NaN,9148.0,NaN,NaN,28.891108,42.151418,NaN,NaN
3277,72153,PR,Yauco,NaN,8339.0,NaN,NaN,27.181356,35.961619,NaN,NaN

- It did! Great! Now let's set the index to FIPS

In [3]:
income.set_index('FIPS')

,State,County,MedHHInc,PerCapitaInc,PovertyUnder18Pct,PovertyAllAgesPct,Deep_Pov_All,Deep_Pov_Children,PovertyUnder18Num,PovertyAllAgesNum
FIPS,,,,,,,,,,
0,US,United States,61937.0,32621.0,18.0,13.1,6.249590,8.598276,12997532.0,41852315.0
1000,AL,Alabama,49881.0,26846.0,23.9,16.8,7.611623,11.591313,255613.0,801758.0
1001,AL,Autauga,59338.0,29372.0,19.3,13.8,6.142609,8.910594,2509.0,7587.0
1003,AL,Baldwin,57588.0,31203.0,13.9,9.8,4.482528,6.214526,6442.0,21069.0
1005,AL,Barbour,34382.0,18461.0,43.9,30.9,12.749387,26.709797,2242.0,6788.0
...,...,...,...,...,...,...,...,...,...,...
72145,PR,Vega Baja,NaN,10601.0,NaN,NaN,24.952030,34.530211,NaN,NaN
72147,PR,Vieques,NaN,11156.0,NaN,NaN,23.747851,63.160920,NaN,NaN
72149,PR,Villalba,NaN,10677.0,NaN,NaN,24.167835,36.739088,NaN,NaN
72151,PR,Yabucoa,NaN,9148.0,NaN,NaN,28.891108,42.151418,NaN,NaN
72153,PR,Yauco,NaN,8339.0,NaN,NaN,27.181356,35.961619,NaN,NaN

- Next, all I want right now are the counties in Texas

In [4]:
# Create a boolean mask where only observations where TX is the state are counted as true
# Then apply the mask to the whole dataframe
mask = income['State'] == 'TX'

income = income[mask]

- Awesome! Now all we have are TX counties.
- Let's narrow down some of these features since we wont need them all

In [5]:
income = income.drop(columns = ['PerCapitaInc', 'PovertyUnder18Pct', 'PovertyAllAgesPct'])
income

,FIPS,State,County,MedHHInc,Deep_Pov_All,Deep_Pov_Children,PovertyUnder18Num,PovertyAllAgesNum
2571,48000,TX,Texas,60632.0,6.574954,9.363829,1543228.0,4181623.0
2572,48001,TX,Anderson,45969.0,4.287712,5.310209,2486.0,8778.0
2573,48003,TX,Andrews,84946.0,3.720851,5.340599,774.0,1922.0
2574,48005,TX,Angelina,46653.0,7.613627,11.022702,5855.0,15052.0
2575,48007,TX,Aransas,46912.0,9.002793,16.784263,1423.0,4642.0
...,...,...,...,...,...,...,...,...
2821,48499,TX,Wood,48384.0,6.128292,6.909220,2116.0,6625.0
2822,48501,TX,Yoakum,61560.0,5.705285,8.100460,454.0,1028.0
2823,48503,TX,Young,49301.0,5.501855,9.423963,873.0,2468.0
2824,48505,TX,Zapata,33160.0,18.348365,31.536331,2297.0,4529.0
2825,48507,TX,Zavala,30076.0,15.852535,35.054424,1549.0,3701.0

- I think this is a good place to start in terms of income features. 
- Let's take a look a the shape of the data now

In [6]:
# Check to see the number of nulls
income.isnull().sum()

FIPS                 0
State                0
County               0
MedHHInc             0
Deep_Pov_All         0
Deep_Pov_Children    0
PovertyUnder18Num    0
PovertyAllAgesNum    0
dtype: int64

In [7]:
income.shape

(255, 8)