In [1]:
import pandas as pd
import jada_clean

Testing the clean income function from my cleaning file

In [2]:
jada_clean.acquire_food_data()

       LACCESS_POP15
FIPS
48001   23111.241421
48003    5015.975463
48005   20927.331551
48007    8865.511478
48009    2147.672378
...              ...
48499    3222.188853
48501    1562.352965
48503    6142.001383
48505    6065.681176
48507    3702.027063

[254 rows x 1 columns]

- It works.
- Adjust the file path when copying the function over to the global prepare.py file

In [3]:
jada_clean.acquire_income_data()

       MedHHInc  Deep_Pov_All  PovertyUnder18Num  PovertyAllAgesNum
FIPS
48000   60632.0      6.574954          1543228.0          4181623.0
48001   45969.0      4.287712             2486.0             8778.0
48003   84946.0      3.720851              774.0             1922.0
48005   46653.0      7.613627             5855.0            15052.0
48007   46912.0      9.002793             1423.0             4642.0
...         ...           ...                ...                ...
48499   48384.0      6.128292             2116.0             6625.0
48501   61560.0      5.705285              454.0             1028.0
48503   49301.0      5.501855              873.0             2468.0
48505   33160.0     18.348365             2297.0             4529.0
48507   30076.0     15.852535             1549.0             3701.0

[255 rows x 4 columns]