In [1]:
import pandas as pd
import jada_clean

Testing the clean income function from my cleaning file

In [3]:
jada_clean.clean_income()

,State,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum
FIPS,,,,,,
48000,TX,Texas,60632.0,6.574954,1543228.0,4181623.0
48001,TX,Anderson,45969.0,4.287712,2486.0,8778.0
48003,TX,Andrews,84946.0,3.720851,774.0,1922.0
48005,TX,Angelina,46653.0,7.613627,5855.0,15052.0
48007,TX,Aransas,46912.0,9.002793,1423.0,4642.0
...,...,...,...,...,...,...
48499,TX,Wood,48384.0,6.128292,2116.0,6625.0
48501,TX,Yoakum,61560.0,5.705285,454.0,1028.0
48503,TX,Young,49301.0,5.501855,873.0,2468.0
48505,TX,Zapata,33160.0,18.348365,2297.0,4529.0
48507,TX,Zavala,30076.0,15.852535,1549.0,3701.0

- It works.
- Adjust the file path when copying the function over to the global prepare.py file