In [1]:
import pandas as pd
# import jada_clean
import prep

Testing the clean income function from my cleaning file

In [2]:
# food = jada_clean.acquire_food_data()
# food

# food.info()

# - It works.
# - Adjust the file path when copying the function over to the global prepare.py file

# income = jada_clean.acquire_income_data()

# Let's start joining all the data frames

# food_and_income = income.join(food.set_index('FIPS'), on='FIPS')

# def acquire_people_data():
#     df = pd.read_csv("../Data/People.csv")
#     # Restrict df to only Texas
#     df = df[df.State == "TX"]
#     # Keep only the columns we want and set index to FIPS
#     good_columns = [
#         "FIPS",
#         "LandAreaSQMiles2010",
#         # Population estimates
#         "TotalPopEst2018",
#         "PopDensity2010",
#         "Age65AndOlderNum2010",
#         "Under18Num2010",
#         "NaturalChange1018",
#         # Household size
#         "AvgHHSize",
#         "TotalOccHU",
#         "OwnHomeNum",
#         # Head of Household
#         "FemaleHHNum",
#         "TotalHH",
#         "NonEnglishHHNum",
#         "HH65PlusAloneNum",
#         # Education columns
#         "Ed1LessThanHSNum",
#         "Ed2HSDiplomaOnlyNum",
#         "Ed3SomeCollegeNum",
#         "Ed4AssocDegreeNum",
#         "Ed5CollegePlusNum",
#         # Race columns
#         "WhiteNonHispanicNum2010",
#         "BlackNonHispanicNum2010",
#         "AsianNonHispanicNum2010",
#         "NativeAmericanNonHispanicNum2010",
#         "HispanicNum2010",
#         "MultipleRaceNum2010",
#     ]
#     df = df[good_columns]
#     return df

# people = acquire_people_data()

# people

# food_income_people = food_and_income.join(people.set_index('FIPS'), on='FIPS')

# food_income_people

# def acquire_veteran_data():
#     df = pd.read_csv("../Data/Veterans.csv")
#     # Restrict df to only Texas
#     df = df[df.State == "TX"]
#     # Keep only the columns we want and set index to FIPS
#     good_columns = [
#         "FIPS",
#         "State",
#         "County",
#         # Income for both vets and non-vets
#         "MedianVetsInc",
#         "MedianNonVetsInc",
#         # Number of vets 18 and over
#         "Vets18ONum",
#         # Number of vets in civilian labor force
#         "CLFVets18to64Num",
#         "NonVetsDisabilty",
#         "VetsDisabilty",
#         "NonVetsPoor",
#         "VetsPoor",
#     ]
#     df = df[good_columns]
#     return df

# veteran = acquire_veteran_data()
# veteran

# food_income_people_veteran = veteran.join(food_income_people.set_index('FIPS'), on='FIPS')

# food_income_people_veteran

# def acquire_jobs_data():
#     df = pd.read_csv("../Data/Jobs.csv")
#     # Restrict df to only Texas
#     df = df[df.State == "TX"]
#     # Keep only the columns we want and set index to FIPS
#     good_columns = ['FIPS',
#         # unemployment rate in 2018
#         'UnempRate2018',
#         'NumUnemployed2018',
#         'NumEmployed2018','NumCivLaborforce2018',
#         # percentage of workforce in various working industries 
#         'PctEmpAgriculture','PctEmpMining','PctEmpConstruction','PctEmpManufacturing',
#         'PctEmpTrade','PctEmpTrans','PctEmpInformation','PctEmpFIRE','PctEmpServices','PctEmpGovt'
#     ]
#     df = df[good_columns]
#     return df

# jobs = acquire_jobs_data()

# jobs

# df = food_income_people_veteran.join(jobs.set_index('FIPS'), on='FIPS')

# df

# def acquire_covid_cases():
#     df = pd.read_csv("../Data/time_series_covid19_confirmed_US.csv")
#     # Restrict df to Texas
#     df = df[df.Province_State == "Texas"]
#     # Keep only most recent covid data
#     columns_to_keep = ["FIPS", "Admin2", "6/16/20"]
#     df = df[columns_to_keep]
#     # Rename columns, make FIPS be integer, and set index to FIPS
#     df = (
#         df.astype({"FIPS": "int"})
#         .rename(columns={"Admin2": "county", "6/16/20": "num_covid_cases"})
#     )
#     return df

# covid = acquire_covid_cases()

# covid

# df1 = df.join(covid.set_index('FIPS'), on='FIPS')

# df1

# def acquire_texas_hospitals():
#     """Uses hospitals csv and return just the open texas hospitals"""
#     hospitals = pd.read_csv("../Data/Hospitals.csv")

#     # create mask to filter for hospitals in TX
#     mask = hospitals.STATE == "TX"
#     tx_hospitals = hospitals[mask]

#     # drop useless columns
#     tx_hospitals = tx_hospitals.drop(
#         columns=[
#             "X",
#             "Y",
#             "FID",
#             "ID",
#             "ZIP4",
#             "TELEPHONE",
#             "POPULATION",
#             "COUNTRY",
#             "NAICS_CODE",
#             "SOURCE",
#             "SOURCEDATE",
#             "VAL_METHOD",
#             "VAL_DATE",
#             "WEBSITE",
#             "ALT_NAME",
#             "TTL_STAFF",
#             "BEDS",
#             "TRAUMA",
#             "HELIPAD",
#         ]
#     )

#     # rename county_fips to fips
#     tx_hospitals.rename(columns={"COUNTYFIPS": "FIPS"}, inplace=True)
#     tx_hospitals = tx_hospitals.astype({"FIPS": "int"})

#     # drop the closed hospitlas
#     mask = tx_hospitals.STATUS == "OPEN"
#     tx_hospitals = tx_hospitals[mask]

#     return tx_hospitals

# hospitals = acquire_texas_hospitals()
# hospitals

# hospitals.info()

# df1.info()

# # df2 = df1.join(hospitals.set_index('FIPS'), on='FIPS')

# # df2

In [3]:
food = prep.acquire_food_data()

In [4]:
income = prep.acquire_income_data()

In [5]:
income

,FIPS,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum
2571,48000,texas,60632.0,6.574954,1543228.0,4181623.0
2572,48001,anderson,45969.0,4.287712,2486.0,8778.0
2573,48003,andrews,84946.0,3.720851,774.0,1922.0
2574,48005,angelina,46653.0,7.613627,5855.0,15052.0
2575,48007,aransas,46912.0,9.002793,1423.0,4642.0
...,...,...,...,...,...,...
2821,48499,wood,48384.0,6.128292,2116.0,6625.0
2822,48501,yoakum,61560.0,5.705285,454.0,1028.0
2823,48503,young,49301.0,5.501855,873.0,2468.0
2824,48505,zapata,33160.0,18.348365,2297.0,4529.0
2825,48507,zavala,30076.0,15.852535,1549.0,3701.0

In [6]:
income['County'].str.lower()

2571       texas
2572    anderson
2573     andrews
2574    angelina
2575     aransas
          ...
2821        wood
2822      yoakum
2823       young
2824      zapata
2825      zavala
Name: County, Length: 255, dtype: object

In [7]:
people = prep.acquire_people_data()

In [8]:
veteran = prep.acquire_veteran_data()

In [9]:
jobs = prep.acquire_jobs_data()

In [10]:
# covid = prep.acquire_covid_cases()

In [11]:
county_class = prep.acquire_tx_county_class()

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [12]:
df = food.join(income.set_index('FIPS'), on='FIPS')

In [13]:
df.head()

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum
FIPS,,,,,,
48001,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0
48003,5015.975463,andrews,84946.0,3.720851,774.0,1922.0
48005,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0
48007,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0
48009,2147.672378,archer,61190.0,3.490241,268.0,922.0

In [14]:
df1 = df.join(people.set_index('FIPS'), on='FIPS')

In [15]:
df1.head()

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,...,Ed2HSDiplomaOnlyNum,Ed3SomeCollegeNum,Ed4AssocDegreeNum,Ed5CollegePlusNum,WhiteNonHispanicNum2010,BlackNonHispanicNum2010,AsianNonHispanicNum2010,NativeAmericanNonHispanicNum2010,HispanicNum2010,MultipleRaceNum2010
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,...,15224,10696,2807,4931,35792,12222,283,192,9287,993
48003,5015.975463,andrews,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,...,3898,2161,753,1103,7083,199,85,95,7195,292
48005,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,...,18265,14230,4578,9344,54889,12840,744,255,17145,1524
48007,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,...,5392,4764,1302,3936,16350,258,443,118,5690,523
48009,2147.672378,archer,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,...,2057,1655,462,1449,8182,34,18,47,675,134

In [16]:
df2 = df1.join(veteran.set_index('FIPS'), on='FIPS')

In [17]:
df2.head()

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,...,MultipleRaceNum2010,State,MedianVetsInc,MedianNonVetsInc,Vets18ONum,CLFVets18to64Num,NonVetsDisabilty,VetsDisabilty,NonVetsPoor,VetsPoor
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,...,993,TX,34618.0,21739.0,4012.0,2307.0,3018.0,253.0,3219.0,237.0
48003,5015.975463,andrews,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,...,292,TX,49625.0,32142.0,685.0,478.0,797.0,28.0,891.0,0.0
48005,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,...,1524,TX,31119.0,23093.0,5929.0,3077.0,7252.0,780.0,8112.0,478.0
48007,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,...,523,TX,31986.0,21220.0,2584.0,1102.0,1767.0,326.0,2775.0,207.0
48009,2147.672378,archer,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,...,134,TX,40500.0,30941.0,625.0,326.0,563.0,44.0,383.0,8.0

In [18]:
df3 = df2.join(jobs.set_index('FIPS'), on='FIPS')

In [19]:
df3.head()

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,...,PctEmpAgriculture,PctEmpMining,PctEmpConstruction,PctEmpManufacturing,PctEmpTrade,PctEmpTrans,PctEmpInformation,PctEmpFIRE,PctEmpServices,PctEmpGovt
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,...,1.905654,6.919713,5.435801,6.175154,20.425909,6.638550,0.494637,3.097990,39.529314,9.377278
48003,5015.975463,andrews,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,...,1.277217,25.118599,7.772777,5.400803,12.236954,9.147306,1.423185,5.339983,30.312614,1.970563
48005,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,...,2.012354,1.953660,6.836412,11.724755,15.592946,4.309791,0.531038,4.206378,48.601135,4.231532
48007,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,...,1.157430,3.540951,12.359000,4.963217,13.859735,3.089750,0.519863,4.717999,49.759686,6.032369
48009,2147.672378,archer,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,...,5.336374,4.424173,7.366021,7.708096,15.963512,4.811859,0.957811,5.267959,42.850627,5.313569

In [20]:
# df4 = df3.join(covid.set_index('FIPS'), on='FIPS')

In [21]:
df4 = df3.join(county_class.set_index('FIPS'), on='FIPS')

In [22]:
df4.head()

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,...,Type_2015_Farming_NO,Type_2015_Manufacturing_NO,Type_2015_Mining_NO,Type_2015_Government_NO,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
48003,5015.975463,andrews,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
48005,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48007,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
48009,2147.672378,archer,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
def acquire_nh_data():
    '''
    Read in the NurstinFacilities excel file, filter to only Texas counties,
    drop unecessary columns, return dataframe
    '''
    df = pd.read_excel("../Data/NursingFacilities.xlsx", header=1)
    # Keep only relevant columns
    columns_to_keep = [
        "Facility Name",
        "County_",
        "Service  Type",
        "Facility Certified",
        "Physical Address",
        "Physical Address CITY",
        "Physical Address Zipcode",
        "Total Licensed Capacity",
        "Alzheimer Capacity",
        "ICFIID Beds",
    ]
    df = df[columns_to_keep]
    # Rename columns
    df = df.rename(
        columns={
            "Facility Name": "NH_name",
            "County_": "county",
            "Service  Type": "type_of_service",
            "Facility Certified": "is_certified",
            "Physical Address": "address",
            "Physical Address CITY": "city",
            "Physical Address Zipcode": "zip",
            "Total Licensed Capacity": "total_capacity",
            "Alzheimer Capacity": "alz_capacity",
            "ICFIID Beds": "ICU_beds",
        }
    )
    # Fill na values based on zip codes
    df.loc[(df["county"].isnull()) & (df["zip"] == "78613"), "county"] = "WILLIAMSON"
    df.loc[(df["county"].isna()) & (df["zip"] == "76504"), "county"] = "BELL"
    df.loc[(df["county"].isna()) & (df["zip"] == "76802"), "county"] = "BROWN"
    # delete any characters past the first 5 letters of the zipcode
    df["zip"] = df["zip"].str[:5]
    # make zip column int
    df = df.astype({"zip": "int"})
    return df

In [24]:
def create_nursing_home_counts_df():
    """
    Uses the acquire_nh_data function and creates a dataframe
    totaling the number of nursing homes per county
    """
    #Bring in the nursing home dataframe
    nh = acquire_nh_data()
    #Get the value counts for each county and create df
    df = pd.DataFrame(nh.county.value_counts()).reset_index()
    #Rename columns
    df.rename(columns = {"county": "num_nursing_homes"}, inplace = True)
    df.rename(columns = {"index": "County"}, inplace = True)
    
    # Lowecase the county names
    df['County'] = df['County'].str.lower()
    df = df.sort_values(by = 'County').reset_index()
    df = df.drop(columns = 'index')
   
    return df

In [25]:
nursing = create_nursing_home_counts_df()

In [26]:
nursing.tail()

     County  num_nursing_homes
215    wise                  4
216    wood                  5
217  yoakum                  1
218   young                  3
219  zapata                  1

In [27]:
nursing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 2 columns):
County               220 non-null object
num_nursing_homes    220 non-null int64
dtypes: int64(1), object(1)
memory usage: 3.6+ KB

In [28]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 48001 to 48507
Data columns (total 67 columns):
LACCESS_POP15                         253 non-null float64
County                                254 non-null object
MedHHInc                              254 non-null float64
Deep_Pov_All                          254 non-null float64
PovertyUnder18Num                     254 non-null float64
PovertyAllAgesNum                     254 non-null float64
LandAreaSQMiles2010                   254 non-null float64
TotalPopEst2018                       254 non-null float64
PopDensity2010                        254 non-null float64
Age65AndOlderNum2010                  254 non-null int64
Under18Num2010                        254 non-null int64
NaturalChange1018                     254 non-null float64
AvgHHSize                             254 non-null float64
TotalOccHU                            254 non-null int64
OwnHomeNum                            254 non-null int64
FemaleHHNum                           254 non-null int64
TotalHH                               254 non-null int64
NonEnglishHHNum                       254 non-null int64
HH65PlusAloneNum                      254 non-null int64
Ed1LessThanHSNum                      254 non-null int64
Ed2HSDiplomaOnlyNum                   254 non-null int64
Ed3SomeCollegeNum                     254 non-null int64
Ed4AssocDegreeNum                     254 non-null int64
Ed5CollegePlusNum                     254 non-null int64
WhiteNonHispanicNum2010               254 non-null int64
BlackNonHispanicNum2010               254 non-null int64
AsianNonHispanicNum2010               254 non-null int64
NativeAmericanNonHispanicNum2010      254 non-null int64
HispanicNum2010                       254 non-null int64
MultipleRaceNum2010                   254 non-null int64
State                                 254 non-null object
MedianVetsInc                         246 non-null float64
MedianNonVetsInc                      254 non-null float64
Vets18ONum                            254 non-null float64
CLFVets18to64Num                      254 non-null float64
NonVetsDisabilty                      254 non-null float64
VetsDisabilty                         254 non-null float64
NonVetsPoor                           254 non-null float64
VetsPoor                              254 non-null float64
UnempRate2018                         254 non-null float64
NumUnemployed2018                     254 non-null float64
NumEmployed2018                       254 non-null float64
NumCivLaborforce2018                  254 non-null float64
PctEmpAgriculture                     254 non-null float64
PctEmpMining                          254 non-null float64
PctEmpConstruction                    254 non-null float64
PctEmpManufacturing                   254 non-null float64
PctEmpTrade                           254 non-null float64
PctEmpTrans                           254 non-null float64
PctEmpInformation                     254 non-null float64
PctEmpFIRE                            254 non-null float64
PctEmpServices                        254 non-null float64
PctEmpGovt                            254 non-null float64
RuralUrbanContinuumCode2013           254 non-null float64
UrbanInfluenceCode2013                254 non-null float64
Metro2013                             254 non-null float64
Micropolitan2013                      254 non-null float64
Type_2015_Farming_NO                  254 non-null float64
Type_2015_Manufacturing_NO            254 non-null float64
Type_2015_Mining_NO                   254 non-null float64
Type_2015_Government_NO               254 non-null float64
Type_2015_Recreation_NO               254 non-null float64
Low_Employment_2015_update            254 non-null float64
Population_loss_2015_update           254 non-null float64
Retirement_Destination_2015_Update    254 non-null float64
HiAmenity                             254 non-null float64
Metro_Adjacent2013                    254 non-null float64
dtypes: float64(46), int64(19), object(2)
memory usage: 134.9+ KB

In [29]:
df5 = nursing.merge(df4, how = 'right',  on='County')

In [30]:
df5

,County,num_nursing_homes,LACCESS_POP15,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,...,Type_2015_Farming_NO,Type_2015_Manufacturing_NO,Type_2015_Mining_NO,Type_2015_Government_NO,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013
0,anderson,5.0,23111.241421,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,andrews,1.0,5015.975463,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,angelina,8.0,20927.331551,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,aransas,2.0,8865.511478,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
4,archer,1.0,2147.672378,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,sutton,NaN,448.729777,54774.0,5.776737,201.0,531.0,1453.93,3758.0,2.84,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
250,terrell,NaN,983.999998,41413.0,6.612529,37.0,155.0,2358.03,823.0,0.42,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
251,throckmorton,NaN,1641.000004,42701.0,5.848329,72.0,217.0,912.55,1515.0,1.80,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
252,winkler,NaN,62.718675,56781.0,6.815526,454.0,1069.0,841.11,7720.0,8.45,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
253,zavala,NaN,3702.027063,30076.0,15.852535,1549.0,3701.0,1297.41,11983.0,9.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
covid =

In [31]:
df = prep.merge_dataframes()

In [32]:
df.head()

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,...,Type_2015_Farming_NO,Type_2015_Manufacturing_NO,Type_2015_Mining_NO,Type_2015_Government_NO,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
48003,5015.975463,andrews,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
48005,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48007,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
48009,2147.672378,archer,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0